<h1>SEE a BEE</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/3/32/Bee-apis.jpg" alt="BUZZ BUZZ MOTHERFUCKER" />
<a href="/add">Add a Bee Post</a>
<a href="/addUser">Add or Edit a User Name</a>


<ul>
    {{#each blog_posts}}
      <h2>{{this.title}}</h2>
      <h2>BY: {{this.users_name}} {{this.date}}</h2>
      <li>{{this.body}}</li>
      <br>
    {{/each}}
</ul>
